body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#mainDiv {
    width: 100%;
    height: 100%;
    background: rgb(255, 213, 124);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container {
    background: black;
    width: 50vw;
    height: 50vh;
    min-width: 300px;
    min-height: 300px;
    border-radius: 15px;
    border: 5px solid rgb(83, 255, 83);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#horizontalDiv, #div1, #div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#div1, #div2 {
    margin: 0 5%;
}

#name, #surname {
    width: 30vw;
    height: 6vh;
    min-width: 170px;
    max-height: 40px;
    border: 2px solid rgb(83, 255, 83);
    border-radius: 3px;
    outline: none;
}

#checkbox1, #checkbox2 {
    width: 25px;
    height: 25px;
}

h3 {
    color: white;
    margin: 0 4%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

#button1 {
    width: 10vw;
    min-width: 100px;
    height: 5vh;
    min-height: 25px;
    background: rgb(83, 255, 83);
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    outline: none;
}