body {
    margin: 0;
    overflow-x: hidden;
    background: rgb(255, 213, 124);
}

#mainDiv {
    width: 100%;
    height: 100%;
}

header {
    width: inherit;
    height: 10vh;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;

}

#toph1 {
    color: white;
    margin: 0 5vw;
    font-size: 4vh;
}

#firstDiv {
    height: 29vh;
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#div1 {
    width: 100%;
    height: calc(100%/3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#div1 input {
    width: calc(100%/4);
    height: 50%;
    background: black;
    color: white;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: 3px solid rgb(83, 255, 83);
    margin-bottom: 2vh;
}

::placeholder {
    color: rgb(83, 255, 83);
}

#div2 {
    width: 100%;
}

#add {
    width: 15vw;
    height: 5vh;
    margin-left: 81vw;
    background: black;
    outline: none;
    border: 3px solid rgb(83, 255, 83);
    border-radius: 5px;
    color: rgb(83, 255, 83);
}

#secondDiv {
    height: 45vh;
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#secondDiv div {
    height: 100%;
    width: calc(100%/4);
    background: black;
    border: 3px solid rgb(83, 255, 83);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 11vh;
}

#footer {
    width: inherit;
    height: 10vh;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0; 
}

#footerText {
    color: white;
    font-size: 5vh;
}

h2 {
    color: white;
    margin: 1vh;
}

@media screen and (max-width: 1025px) {
    h2 {
        font-size: 80%;
    }
}


#modal {
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#container {
    background: black;
    width: 50vw;
    height: 50vh;
    min-width: 300px;
    min-height: 300px;
    border-radius: 15px;
    border: 5px solid rgb(83, 255, 83);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#horizontalDiv, #div3, #div4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#div3, #div4 {
    margin: 0 5%;
}

#name1, #surname1 {
    width: 30vw;
    height: 6vh;
    min-width: 170px;
    max-height: 40px;
    border: 2px solid rgb(83, 255, 83);
    border-radius: 3px;
    outline: none;
}

#checkbox1, #checkbox2 {
    width: 25px;
    height: 25px;
}

h3 {
    color: white;
    margin: 0 4%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

#button1 {
    width: 10vw;
    min-width: 100px;
    height: 5vh;
    min-height: 25px;
    background: rgb(83, 255, 83);
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    outline: none;
}