body {
    margin: 0;
    overflow: scroll;
    background: #adadad;
}

#imgBack {
    width: 100vw;
    z-index: -2;
}

#divBack {
    position: absolute;
}

#middle {
    height: 35vh;
    width: 100vw;
    background: lightgray;
    text-align: center;
    z-index: 0;
    float: left;
}

#footer {
    height: 55vh;
    background: #adadad;
    z-index: 0;
}

button {
    width: 200px;
    height: 50px;
    background: limegreen;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    border: none;
    position: absolute;
    margin-top: 40vh;
    margin-left: 55vw;
}

button:focus {
    outline: 1px solid black;
}

#opacityDiv {
    width: 100vw;
    height: 100vh;
    background: blue;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    position: absolute;
    margin-top: 0vh;
    display: block;
    opacity: 0.1;
    z-index: -1;
}

#middleDiv1 {
    width: 55%;
    height: 400px;
    display: block;
    margin-top: 10vh;
    float: left;
    
}

#middleDiv2 {
    width: 40%;
    height: 400px;
    display: block;
    margin-top: 35vh;
    float: left;
}

span {
    width: 44vw;
    height: 15vh;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    border: none;
    position: absolute;
    margin-top: 20vh;
    margin-left: 45vw;
}

#middle div {
    width: 75%;
    height: 100%;
    margin: auto;
}

#middle div div {
    float: left;
    width: calc(100%/3);
    text-align: center;
    padding-top: 3vh;
}

#middle h2 {
    height: 18vh;
    width: 18vh;
    border: 2px solid blue;
    border-radius: 1000px;
    margin: auto;
    background: white;
    font-size: 8vh;
    color: blue;
    display: inline-block;
    align-items: center;


}

#middle h1 {
    color: blue;
    font-size: 5vh;
}

.CV {
    height: 210px;
    width: 153px;
    position: absolute;
    z-index: 1;
    box-shadow: 3px 3px 3px #1f1919;
}

#CV1 {
    top: 15vh;
    left: 8vw;
}

#CV2 {
    top: 15vh;
    left: 24vw;
    z-index: 4;
    box-shadow: 0px 0px 0px;
}

#CV3 {
    top: 19.5vh;
    left: 17.6vw;
    z-index: 2;
}

#CV4 {
    top: 10.5vh;
    left: 13.6vw;
    z-index: 3;
}

#footer img {
    width: 143.11px;
    height: 143.11px;
    display: block;
    border: 20px orange;
    border-radius: 50%;
}

#footer div {
    float: left;
    height: 31.8vh;
    width: 11vw;
}

#footer div:not(.bottomDivs) {
    margin-top: 3vh;
}

#footer div:not(#firstDiv) {
    margin-left: 1.75vw;
}

#firstDiv {
    margin-left: 5.65vw;
}

#lastDiv {
    margin-right: 5.65vw;
}

.bottomDivs {
    margin-top: 23vh;
}