body {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #adadad;
}

#mainDiv {
    width: 100vw;
    height: 100vh;
    background: url('images/steve.jpg');
    background-size: 100vw 100vh;
}
#imgBack {
    width: 100vw;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
}

#divBack {
    position: absolute;
    height: 100vh;
}

#cv img {
    width: 150px;
    height: 200px;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 100;
}
#cvArea {
    width: 35vw;
    height: 80vh;
    float: left;
}
#cv {
    position: relative;
    width: 300px;
    height: 500px;
    margin-left: 10%;
    margin-top: 30%;
}
#cv1 {
    margin-left: 15%;  
}
#cv2 {
    margin-top: 15%;
}
#cv3 {
    margin-left: 53%;
    margin-top: 20%;
}
#cv4 {
    margin-left: 20%;
    margin-top: 40%;
}
#textArea {
    display: inline-block;
    width: 50vw;
    height: 80vh;
}
#text {
    position: relative;
    width: 100%;
    margin-top: 30%;
    margin-left: 10%;
    color: white;
}
button {
    position: absolute;
    background: green;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    z-index: 1;
    color: white;
    outline: none;
}
button:hover {
    border: 2px solid blue;
}
#divButton {
    margin: 0 auto;
    width: 250px;
    height: 50px;
}
#middle {
    height: 35vh;
    width: 100vw;
    background: lightgray;
    text-align: center;
    z-index: 0;
    float: left;
}

#footer {
    height: 55vh;
    background: #adadad;
    z-index: 0;
}

#opacityDiv {
    /*width: 100vw;
    height: 100vh;
    background: blue;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    position: absolute;
    margin-top: 0vh;
    display: block;
    opacity: 1;
    z-index: -1;*/
}

#middleDiv1 {
    width: 55%;
    height: 400px;
    display: block;
    margin-top: 10vh;
    float: left;
    
}

#middleDiv2 {
    width: 40%;
    height: 400px;
    display: block;
    margin-top: 35vh;
    float: left;
}

span {
    width: 44vw;
    height: 15vh;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    border: none;
    position: absolute;
    margin-top: 20vh;
    margin-left: 45vw;
}

#middle div {
    width: 75%;
    height: 100%;
    margin: auto;
}

#middle div div {
    float: left;
    width: calc(100%/3);
    text-align: center;
    padding-top: 3vh;
}

#middle h2 {
    height: 18vh;
    width: 18vh;
    border: 2px solid blue;
    border-radius: 1000px;
    margin: auto;
    background: white;
    font-size: 8vh;
    color: blue;
    display: inline-block;
    align-items: center;
    line-height: 18vh;

}

#middle h1 {
    color: blue;
    font-size: 5vh;
}

#topDiv div{
    width: calc(100%/4);
    float: left;
    text-align: center;
    margin-top: 5vh;
}

#footer img {
    width: 50%;
    border-radius: 1000px;
    border: 2px solid orange;
}

#bottomDiv {
    text-align: center;
}

#bottomDiv div{
    width: 75%;
    height: 100%;
    margin: auto;
}

#bottomDiv div div {
    width: calc(100%/3);
    float: left;
    text-align: center;
    margin-top: 5vh;
}


@media screen and (max-width: 1200px) {

    #cvArea img{
        display: none;
    }

    #CircleDiv3 h2 {
        display: none;
    }

    #CircleDiv3 h1 {
        display: none;
    }

    #middle div div {
        width: 50%;
    }

    #middle div {
        width: 90%;
    }

    #middle h1 {
        font-size: 100%;
    }

    #CircleDiv3 {
        display: none;
    }

    #text {
        margin-top: 10%;
        margin-left: 20%;
    }

    #topHiddenImg {
        display: none;
    }

    #topDiv div{
        width: calc(100%/3);
    }

    #bottomDiv div div {
        width: calc(100%/2);
    }

    #bottomDiv div{
        width: 66.67%;
    }

    #bottomHiddenImg {
        display: none;
    }

    button {
        width: 125px;
        height: 25px;
        border-radius: 7.5px;
        font-size: 15px;
    }

    #divButton {
        width: 125px;
        height: 25px;
    }
    
    #cvArea {
        display: none;
    }

    @media screen and (max-height: 500px) {
        p {
            font-size: 14px;
        }
    } 
    
}